@import './_variables';
@import 'https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css';
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: $allText;
}