@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); // Roboto
@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap'); // Solitreo
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap'); // Roboto Condensed
// FONT FAMILIES
$interactionStyle: 'Roboto Condensed',
sans-serif;
$nafimErshad: 'Solitreo',
cursive;
$allText: 'Roboto',
sans-serif;
// COLORS
$primaryColor: rgb(77,
77,
231);