@import './_variables';
.header-container {
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $headerFontStyle;
    nav {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        span {
            width: 30%;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                color: black;
                font-weight: 700;
                font-size: 20px;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}