@import './_variables';
.hero-container {
    height: calc(100vh - 70px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        &.left-section {
            flex-direction: column;
        }
    }
}