<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/main.css">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <header class="header-container">
        <div>
            <a href="/">Nafim Ershad</a>
        </div>
        <nav>
            <span>
                    <a href="/about" class="active">About</a>
                </span>
            <span>
                    <a href="/contact">Contact</a>
                </span>
        </nav>
    </header>

    <section class="about-container">
        <div class="top-portion">
            <div class="pic-holder">
                <img src="./assets/profile-pic.jpg" alt="profile-pic">
            </div>
            <div class="name-holder">Nafim Ershad</div>
        </div>
        <div class="bottom-portion">
            <div class="about-description">
                Hi! I am <span>Nafim</span> <span>Ershad</span>. I am from Bangladesh. I am currently majoring in Avionics Engineering in the Military Institute of Science and Technology. Technology has always fascinated me. I have anañpiration towards
                technology and its development. </div>
            <div class="skills-container">
            </div>
        </div>
    </section>
</body>
<script type="module" src="./js/about.js" defer async></script>

</html>