<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/main.css">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <header class="header-container">
        <div>
            <a href="/">Nafim Ershad</a>
        </div>
        <nav>
            <span>
                    <a href="/about" >About</a>
                </span>
            <span>
                    <a href="/contact" class="active">Contact</a>
                </span>
        </nav>
    </header>

    <section id="contact-container">
        <div id="social-container">
            <div class="social-email">
                <a href="mailto://inan.nafim1089@outlook.com"><span class="mdi mdi-email"></span></a>
                <a href="mailto://inan.nafim1089@outlook.com"><span>Mail</span></a>
            </div>
            <div class="social-linked-in">
                <a href="https://www.linkedin.com/in/nafim-ershad-29623719b/"><span class="mdi mdi-linkedin"></span></a>
                <a href="https://www.linkedin.com/in/nafim-ershad-29623719b/"><span>LinkedIn</span></a>
            </div>
            <div class="social-facebook">
                <a href="https://www.facebook.com/Nafim.Ershad"><span class="mdi mdi-facebook"></span></a>
                <a href="https://www.facebook.com/Nafim.Ershad"><span>Facebook</span></a>
            </div>
            <div class="social-instagram">
                <a href="https://www.instagram.com/nafim_ershad/"><span class="mdi mdi-instagram"></span></a>
                <a href="https://www.instagram.com/nafim_ershad/"><span>Instagram</span></a>
            </div>
        </div>
        <form id="direct-message-form">
            <div>
                <label>Full Name:</label>
                <input type="text" name="fullname">
            </div>
            <div>
                <label>Email:</label>
                <input type="email" name="email">
            </div>
            <div>
                <label>Message</label>
                <textarea cols="30" rows="10" name="message"></textarea>
            </div>
            <input type="submit" value="Send Inquiry" class="send-button">
        </form>
    </section>
    <script src="./js/contact.js" async defer></script>
</body>

</html>