<header>
    <div class="fullname">Nafim Ershad</div>
    <nav class="navigation">
        <a href="/">
            <div>Home</div>
        </a>
        <a href="/about">
            <div>About</div>
        </a>
        <a href="/contact">
            <div>Contact</div>
        </a>
    </nav>
</header>