@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Solitreo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import 'https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css';
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

.header-container {
  height: 70px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto Condensed", sans-serif; }
  .header-container div {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header-container div a {
      color: black;
      text-decoration: none;
      font-family: "Solitreo", cursive;
      font-size: 32px; }
      .header-container div a:hover {
        color: #4d4de7; }
  .header-container nav {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .header-container nav span {
      width: 30%;
      height: 80%; }
      .header-container nav span a {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Roboto Condensed", sans-serif; }
        .header-container nav span a:hover {
          border-bottom: 2px solid #4d4de7; }
        .header-container nav span a.active {
          border-bottom: 2px solid #4d4de7; }

.hero-container {
  height: calc(100vh - 70px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center; }
  .hero-container div {
    display: flex;
    align-items: center;
    justify-content: center; }
    .hero-container div.left-section {
      flex-direction: column; }
      .hero-container div.left-section h1 {
        width: 100%;
        margin: 5px 0;
        font-size: 2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; }
        .hero-container div.left-section h1 span {
          margin: 20px 0;
          font-size: 3rem;
          letter-spacing: 0.7rem;
          pointer-events: none; }
      .hero-container div.left-section h2 {
        margin: 5px 0;
        font-size: 30px; }
      .hero-container div.left-section div {
        margin: 10px 0;
        font-size: 25px; }
      .hero-container div.left-section .contact_button {
        margin: 10px 0;
        padding: 14px 17px;
        border-radius: 10px;
        background-color: #4d4de7;
        font-size: 1.5rem;
        font-weight: 700;
        text-decoration: none;
        color: white;
        transition: all 350ms ease-in-out; }
        .hero-container div.left-section .contact_button:hover {
          border: 5px solid black;
          color: black;
          background-color: white; }

.about-container {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  .about-container .top-portion {
    width: 45%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .about-container .top-portion .pic-holder {
      height: 100%;
      margin: 0 25px;
      aspect-ratio: 1/1; }
      .about-container .top-portion .pic-holder img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .about-container .top-portion .name-holder {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3.5rem; }
  .about-container .bottom-portion {
    width: 100%;
    max-width: 1366px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .about-container .bottom-portion .about-description {
      width: 80%;
      padding: 15px 20px;
      margin-bottom: 25px;
      font-size: 1.75rem;
      text-align: justify; }
      .about-container .bottom-portion .about-description span {
        color: #4d4de7; }
    .about-container .bottom-portion .skills-container {
      width: 65%;
      padding: 10px 0;
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(4, 0.25fr);
      align-content: center;
      justify-items: center; }
      .about-container .bottom-portion .skills-container div {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        border: 2px solid black;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1rem;
        transition: all 300ms ease-in-out; }
        .about-container .bottom-portion .skills-container div::after {
          content: '';
          position: absolute;
          left: 10%;
          top: 50%;
          transform: translate(-10%, -50%);
          width: 6px;
          aspect-ratio: 1/1;
          border-radius: 50%;
          background-color: black; }
        .about-container .bottom-portion .skills-container div:hover {
          transform: scale(1.25);
          border: 2px solid #4d4de7;
          box-shadow: 0 0 4px 2px #4d4de7;
          color: #4d4de7; }
          .about-container .bottom-portion .skills-container div:hover::after {
            background-color: #4d4de7; }

#contact-container {
  height: calc(100vh - 70px);
  display: grid;
  column-gap: 25px;
  grid-template-columns: repeat(2, 1fr); }
  #contact-container #social-container {
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    #contact-container #social-container div {
      width: 80%;
      display: grid;
      grid-template-columns: 1fr 5fr;
      column-gap: 20%; }
      #contact-container #social-container div a {
        width: fit-content;
        color: black;
        text-decoration: none; }
        #contact-container #social-container div a span {
          font-size: 1.5rem; }
          #contact-container #social-container div a span:hover {
            color: #4d4de7; }
        #contact-container #social-container div a:first-child span {
          font-size: 2rem;
          text-align: right; }
        #contact-container #social-container div a:last-child span {
          text-align: left; }
      #contact-container #social-container div.social-facebook a span:hover {
        color: #4267B2; }
      #contact-container #social-container div.social-instagram a span:hover {
        color: #E1306C; }
      #contact-container #social-container div.social-linked-in a span:hover {
        color: #0d65c6; }
      #contact-container #social-container div.social-email a span:hover {
        color: #1f9ee3; }
  #contact-container #direct-message-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr); }
    #contact-container #direct-message-container div {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly; }
      #contact-container #direct-message-container div input {
        width: 80%;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid black;
        outline: none; }
        #contact-container #direct-message-container div input:active, #contact-container #direct-message-container div input:focus {
          border-bottom: 2px solid #4d4de7; }
      #contact-container #direct-message-container div textarea {
        width: 80%;
        border: 2px solid black;
        padding: 10px 15px;
        resize: none;
        outline: none; }
        #contact-container #direct-message-container div textarea:active, #contact-container #direct-message-container div textarea:focus {
          border: 2px solid #4d4de7; }
      #contact-container #direct-message-container div.send-button {
        width: 120px;
        height: 50px;
        border: 2px solid black;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 300ms ease-in-out; }
        #contact-container #direct-message-container div.send-button:hover {
          border: 2px solid #4d4de7;
          color: #4d4de7; }
        #contact-container #direct-message-container div.send-button:active {
          background-color: #4d4de7;
          color: white;
          border: none; }
