@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Solitreo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

.header-container {
  height: 70px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto Condensed", sans-serif; }
  .header-container div {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header-container div a {
      color: black;
      text-decoration: none;
      font-family: "Solitreo", cursive;
      font-size: 32px; }
      .header-container div a:hover {
        color: #4d4de7; }
  .header-container nav {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .header-container nav span {
      width: 30%;
      height: 80%; }
      .header-container nav span a {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Roboto Condensed", sans-serif; }
        .header-container nav span a:hover {
          border-bottom: 2px solid #4d4de7; }
        .header-container nav span a.active {
          border-bottom: 2px solid #4d4de7; }

.hero-container {
  height: calc(100vh - 70px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center; }
  .hero-container div {
    display: flex;
    align-items: center;
    justify-content: center; }
    .hero-container div.left-section {
      flex-direction: column; }
      .hero-container div.left-section h1 {
        width: 100%;
        margin: 5px 0;
        font-size: 2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; }
        .hero-container div.left-section h1 span {
          margin: 20px 0;
          font-size: 3rem;
          letter-spacing: 0.7rem;
          pointer-events: none; }
      .hero-container div.left-section h2 {
        margin: 5px 0;
        font-size: 30px; }
      .hero-container div.left-section div {
        margin: 10px 0;
        font-size: 25px; }
      .hero-container div.left-section .contact_button {
        margin: 10px 0;
        padding: 14px 17px;
        border-radius: 10px;
        background-color: #4d4de7;
        font-size: 1.5rem;
        font-weight: 700;
        text-decoration: none;
        color: white;
        transition: all 350ms ease-in-out; }
        .hero-container div.left-section .contact_button:hover {
          border: 5px solid black;
          color: black;
          background-color: white; }
